

<body  class="mat-typography" 
style="src: url(assets/img/goc.png); overflow-x: auto; "
>
<img src="assets/img/a.png" style="margin-top: 0px;">


<div  [hidden]=!user>
  
<table   style=" margin-left: 50px; margin-right: 88px;">
  <tbody>
    <thead>
      </thead>
  <tr>
    <td>
    <h1 class="h1">Available </h1>
    <h1 class="h1"> Courses  </h1>
    <br> <a routerLink='/navbaruser/viewtraininguser' style="    margin-left: 141px;">View More...</a>
     
  </td>
    
    <td>

  <mat-card id="matcard1" class="example-card">
    <mat-card-header>
       <mat-card-title>Java</mat-card-title>
      <mat-card-subtitle>Programming Language</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/java.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        Java is a class-based, object-oriented programming language that is designed to have as few implementation dependencies as possible. Java is a powerful general-purpose programming language. It is used to develop desktop and mobile applications,
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="routerPaymentCourse(200004);">See details & Enroll</button>
      
    </mat-card-actions>
  </mat-card>
  </td>
<td>
  
    <mat-card id="matcard1" class="example-card">
      <mat-card-header>
     
        <mat-card-title>Angular</mat-card-title>
        <mat-card-subtitle>Web Designing Framework</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/img/angular.png" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Angular is a platform and framework for building single-page client applications using HTML and TypeScript. Angular is written in TypeScript. It implements core and optional functionality as a set of TypeScript libraries that you import into your apps.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="routerPaymentCourse(200003);" >See details & Enroll</button>
     
      </mat-card-actions>
    </mat-card>
  

    </td>
    
  
    <td>
      <mat-card id="matcard1" class="example-card">
        <mat-card-header>
          <mat-card-title>Spring Framework</mat-card-title>
          <mat-card-subtitle>Java Technology</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/spring.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Spring Framework was first released in 2004. After that there has been a significant major revision, such as Spring 2.0 provided XML namespaces and AspectJ support, Spring 2.5 provide annotation-driven configuration, Spring 3.0 provided a Java-based @Configuration model. The latest release of the spring framework is 4.0. 
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="routerPaymentCourse(200002);">See details & Enroll</button>
          
        </mat-card-actions>
      </mat-card>
    
    </td>

    </tr>
<br><br>

    <thead></thead>

    <tr>
      <td>

        <mat-card id="matcard1" class="example-card">
          <mat-card-header>
   <mat-card-title>HTML,CSS & JS</mat-card-title>
            <mat-card-subtitle>Web Designing Languages</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/img/html.jpg" alt="Photo of a Shiba Inu">
          <mat-card-content>
            <p>
              HTML provides the basic structure of sites, which is enhanced and modified by other technologies like CSS and JavaScript.
              CSS is used to control presentation, formatting, and layout.
              JavaScript is used to control the behavior of different elements.
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="routerPaymentExam(300025);">See details & Enroll</button>
            
          </mat-card-actions>
        </mat-card>
        </td>
      <td>
        
          <mat-card id="matcard1" class="example-card">
            <mat-card-header>
              <mat-card-title>Python</mat-card-title>
              <mat-card-subtitle>Programming Language</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="assets/img/python.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. Its high-level built in data structures, combined with dynamic typing and dynamic binding.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="routerPaymentExam(300026);">See details & Enroll</button>
             
            </mat-card-actions>
          </mat-card>
        
      
          </td>
          
        
          <td>
            <mat-card id="matcard1" class="example-card">
              <mat-card-header>
                 <mat-card-title>.Net </mat-card-title>
                <mat-card-subtitle>Certification Exam</mat-card-subtitle>
              </mat-card-header>
              <img mat-card-image src="assets/img/.net.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  Net Framework is a software development platform developed by Microsoft for building and running Windows applications. The . Net framework is used for building desktop and web applications
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button (click)="routerPaymentExam(300027);">See details & Enroll</button>
               
              </mat-card-actions>
            </mat-card>
          
          </td>

          <td>
            <h1 class="h1">Available </h1>
            <h1 class="h1"> Exams</h1>
            <br> <a routerLink='/navbaruser/viewexamuser' style="    margin-left: 140px;">View More...</a>
          </td>

            <td>


    </tr>

  </tbody>

 
  
</table>
</div>
<br><br><br><br>

<img src="assets/img/goc.png">

<img src="assets/img/details.png">


</body>





               

