<div id="wrapper" class={{sidebarClass}} style="overflow-x: hidden;">
    <div class="row">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav clickable"> <br>
                <li class="sidebar-brand ">
                    <a class="h2" (click)=userRefresh()>
                        <i class="fas fa-user"></i> User
                    </a>
                </li>
                <li [ngStyle]='{"background": router.url == "/user/dashboard/training/add" ? "rgba(86, 101, 115 )" : "rgb(46, 64, 83 )"}'
                    title="Book Training">
                    <a routerLink='/user/dashboard/training/add'><i class="fa fa-plus"></i> Enroll Training Program</a>
                </li>

                <li [ngStyle]='{"background": router.url == "/user/dashboard/exam/add" ? "rgba(86, 101, 115)" : "rgb(46, 64, 83 )"}'
                    title="Book Exam">
                    <a routerLink='/user/dashboard/exam/add'><i class="fa fa-plus"></i> Enroll For Exam</a>
                </li>
                <hr>
                <li [ngStyle]='{"background": router.url == "/user/dashboard/payment-training" ? "rgba(86, 101, 115)" : "rgb(46, 64, 83 )"}'
                    title="View Payment details of training">
                    <a routerLink='/user/dashboard/payment-training'><i class="fa fa-table"></i> Training Payment Details</a>
                </li>

                <li [ngStyle]='{"background": router.url == "/user/dashboard/payment-exam" ? "rgba(86, 101, 115)" : "rgb(46, 64, 83 )"}'
                    title="View Payment details of exam">
                    <a routerLink='/user/dashboard/payment-exam'><i class="fa fa-table"></i> Exam Payment Details</a>
                </li>
                <hr>
                <li [ngStyle]='{"background": router.url == "/user/dashboard/user/profile" ? "rgba(86, 101, 115)" : "rgb(46, 64, 83 )"}'
                    title="View Profile">
                    <a routerLink='/user/dashboard/user/profile'><i class="fas fa-user"></i> Profile</a>
                </li>
                <hr>
                <li class="container" title="Log out">
                    <button class="btn btn-transparent float-right" (click)='logOut()' style="color: #999999;"><i
                            class="fa fa-power-off"></i>
                        Logout</button>
                </li>
            </ul>
            <!-- /#sidebar-wrapper -->
        </div>
        <div class="col-md-12">
            <!-- Page Content -->
            &nbsp;&nbsp; <div class={{menuToggleClass}} (click)='toggleClass()'>
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>

            <div class="container">
                <div *ngIf='router.url == "/user/dashboard"' style="padding-top: 6em;">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="h1 text-center">Overview</h1>
                        </div>
                    </div>
                    <hr>
                    <div class="row container">
                        <div class="card col-md-3">
                            <div class="row">
                                <div class="col-md-4 card-header" style="background-color: rgb(46, 64, 83 );">
                                    <h1 style="color: whitesmoke;">
                                        {{ examCount }}
                                        <div *ngIf='isLoadingExam' class="spinner spinner-grow"></div>
                                    </h1>
                                </div>
                                <div class="col-md-8 card-body">
                                    <p class="h4">Total No. of Exams</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="card col-md-3">
                            <div class="row">
                                <div class="col-md-4 card-header" style="background-color:  rgb(46, 64, 83 );">
                                    <h1 style="color: whitesmoke;">
                                        {{trainingCount}}
                                        <div *ngIf='isLoadingTraining' class="spinner spinner-grow"></div>
                                    </h1>
                                </div>
                                <div class="col-md-8 card-body">
                                    <p class="h4"> Training Program </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="card col-md-3">
                            <div class="row">
                                <div class="col-md-4 card-header" style="background-color:  rgb(46, 64, 83 );">
                                    <h1 style="color: whitesmoke;">
                                        {{paymentCount}}
                                        <div *ngIf='isLoadingUser' class="spinner spinner-grow"></div>
                                    </h1>
                                </div>
                                <div class="col-md-8 card-body">
                                    <p class="h4">Total No. of Payments</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <router-outlet></router-outlet>
            </div>
            <!-- /#page-content-wrapper -->
        </div>
    </div>
</div>