<br>
<br>
<div>
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <div class="container-fluid" style="width: 60%;">
            <br>
          
          <div class="card shadow">
            <div class="card-header py-3">
              <p class="text-primary m-0 font-weight-bold">Edit Exam Details</p>
            </div>
            <div class="card-body">
              <form
                (ngSubmit)="onSubmit()"
                #addForm="ngForm"
                class="needs-validation"
              >
             
                  
              <div class="form-group">
                <label for="exam"
                  ><strong>Exam Name</strong><br
                /></label>
                <input
                  class="form-control"
                  [(ngModel)]="exam.examName"
                  type="text"
                  placeholder="Exam Name"
                  name="examName"
                  required
                  #examName="ngModel"
                  [class.is-invalid]="examName.invalid && examName.touched"
                />
                <div *ngIf="examName.errors && examName.invalid && examName.touched">
                  <small class="text-danger" *ngIf="examName.errors.required">exam Name is required field</small>
                </div>
              </div>

          
            
              <div class="form-group">
                <label for="examCost"
                  ><strong>Exam Cost</strong><br
                /></label>
                <input
                  class="form-control"
                  [(ngModel)]="exam.examCost"
                  type="text"
                  placeholder="Exam Cost"
                  required
                  pattern="^(?:[1-9][0-9]{3}|[1-9][0-9]{2}|[1-9][0-9]|[1-9])$"

                  name="examCost"
                  #examCost="ngModel"
                  [class.is-invalid]="examCost.invalid && examCost.touched"
                />
                
                <div *ngIf="examCost.errors && examCost.invalid && examCost.touched">
                  <small class="text-danger" *ngIf="examCost.errors.required">Exam Cost is required field</small>
                  <small class="text-danger" *ngIf="examCost.errors.pattern">Should be greater than 0 and less than 10000</small>
               
                </div>
              </div>

              <div class="form-group">
                <label for="examCost"
                  ><strong>No of Seats</strong><br
                /></label>
                <input
                  class="form-control"
                  [(ngModel)]="exam.availableSeats"
                  type="text"
                  placeholder="Enter no. of available seats"
                  required
                  pattern="^(?:1|[1-9]|[0-9][0-9]|[1][0-1][0-9]|120)$"
                  
                  name="availableSeats"
                  #availableSeats="ngModel"
                  [class.is-invalid]="availableSeats.invalid && availableSeats.touched"
                />
                
                <div *ngIf="availableSeats.errors && availableSeats.invalid && availableSeats.touched">
                  <small class="text-danger" *ngIf="availableSeats.errors.required">No of Seats is required field</small>
                  <small class="text-danger" *ngIf="availableSeats.errors.pattern">Must be greater than 0 and less than or equal to 120</small>
              
                </div>
              </div>
            
        
          
           
            <div class="col">
              <div class="form-group">
                  <label for="examDate"
                    ><strong>Exam Date </strong><br
                  /></label>
                  <input
                    [(ngModel)]="exam.examDate"
                    name="examDate"
                    placeholder="Enter the Exam date"
                    class="form-control"
                    type="date"
                    #examDate="ngModel"
                    ngModel
                    required
                    [min]="validationDate"
                  />
                  <div
                    *ngIf="
                      examDate.touched &&
                      examDate.dirty &&
                      examDate.invalid
                    "
                    class="alert alert-primaryr"
                  >
                    Plss Enter The Date in this format eg.'yyyy-mm-dd'.
                  </div>
                </div>
            </div>
          
          <div class="form-row">
            <div class="col">
              <div class="form-group">
                  <label for="startTime"><strong>Exam Start Time</strong><br /></label
                  ><input
                    class="form-control"
                    type="time"
                    [(ngModel)]="exam.startTime"
                    name="startTime"
                    min="09:00"
                    max="18:00"
                    required
                    placeholder="hh:mm"
                    #startTime="ngModel"
                    [class.is-invalid]="startTime.invalid && startTime.touched"
                  />
                  <div *ngIf="startTime.errors && startTime.invalid && startTime.touched">
                    <small class="text-danger" *ngIf="startTime.errors.required">startTime is required field</small>
                  </div>
                </div>
            </div>
            <div class="col">
              <div class="form-group">
                  <label for="endTime"><strong>Exam End Time</strong><br /></label
                  ><input
                    class="form-control"
                    type="time"
                    [(ngModel)]="exam.endTime"
                    name="endTime"
                    min="09:00"
                    max="18:00"
                    required
                    placeholder="hh:mm"
                    #endTime="ngModel"
                    [class.is-invalid]="endTime.invalid && endTime.touched"
                  />
                  <div *ngIf="endTime.errors && endTime.invalid && endTime.touched">
                    <small class="text-danger" *ngIf="endTime.errors.required">endTime is required field</small>
                  </div>
                </div>
            </div>
          </div>
            <div class="form-row">
              <div class="col">
                  <div class="form-group">
                      <label for="description"
                        ><strong>Description</strong><br
                      /></label>
                      <input
                        class="form-control"
                        [(ngModel)]="exam.description"
                        type="text"
                        placeholder="Exam description"
                        name="description"
                        required
                        #description="ngModel"
                        [class.is-invalid]="description.invalid && description.touched"
                      />
                      <div *ngIf="description.errors && description.invalid && description.touched">
                        <small class="text-danger" *ngIf="description.errors.required">Description is required field</small>
                      </div>
                    </div>
                </div>
              </div>
            
                  
                    <div>
                      <button
                          mat-icon-button
                          color="primary"
                        routerLink="/navbar/viewexam"
                        >
                          <mat-icon>keyboard_backspace</mat-icon> Back
                        </button>
                    </div>
                  <div class="form-group text-right">
                    <label for="submit"></label><br />
                    
                    <button [disabled]=addForm.invalid  class="btn btn-success" type="submit" >
                      Update Exam
                    </button>
                  </div>
                 
              
                  
                
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  