<mat-toolbar   color="primary"  class="mat-elevation-z1000" class="navbar" >
    <a class ="navbar-brand" >
        <div class="logo-image">
            <img src="assets/img/logo3.png" class="img-fluid">
        </div>
    </a>
    
    <div class="spacer"  ></div>
    <div class="example-button-row">
    <button mat-button  routerLink="home" >Home </button>
    <button mat-button routerLink="myprofile">Profile </button>
    <button mat-button [matMenuTriggerFor]="menu">Payment</button>

    <mat-menu #menu="matMenu">
        <button mat-menu-item  routerLink="paymenthistoryexam"><mat-icon>post_add</mat-icon>Exam Payment History</button> 
        <button mat-menu-item  routerLink="paymenthistorytraining"><mat-icon>payment</mat-icon>Training Payment History</button> 
    
    </mat-menu>
    <button mat-button routerLink="viewtraininguser">Courses </button>
    <button mat-button routerLink="viewexamuser">Exams </button>
     <button
mat-icon-button
 [matMenuTriggerFor]="menu1"
>
<mat-icon>dehaze</mat-icon>
</button>
<mat-menu #menu1="matMenu">
    <button mat-menu-item  routerLink="myprofile"><mat-icon>account_box</mat-icon>My Profile</button> 
     <button mat-menu-item  [matMenuTriggerFor]="menu2" ><mat-icon>subscriptions</mat-icon>Enrolled Programs</button> 
   
    <button mat-menu-item (click)="logoutUser()" ><mat-icon>exit_to_app</mat-icon>Log Out</button> 

</mat-menu>


<mat-menu #menu2="matMenu">
    
    <button mat-menu-item  routerLink="enrolledexams"><mat-icon>post_add</mat-icon>Enrolled Exams</button> 
    <button mat-menu-item  routerLink="enrolledcourses"><mat-icon>calendar_today</mat-icon>Enrolled Courses</button> 
   
    
</mat-menu>
    
    <br><br>
    </div>
    </mat-toolbar>
    
    <div>
    <router-outlet></router-outlet>
    
    </div>
    <div></div>
    <br>
    <app-footer></app-footer>