<div class="container">
  <div class="alert alert-success" *ngIf='isadded'>
    <button href="#" class="close" (click)='isadded = false'>&times;</button>
    <strong>SUCCESS !</strong> Training Program is added.
  </div>
  <div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-11">
        <div class="card bg-transparent">
          <div class="card-header">
            <p class="h1 text-center" style="font-family: 'Times New Roman', Times, serif;"><i class="fas fa-notes-medical
              "></i> Add Training Program</p>
          </div>
          <form (ngSubmit)="saveTraining(); addTrainingForm.reset()" #addTrainingForm=ngForm>
            <div class="card-body">

              <div class="form-group">
                <input name="trainingName" class="form-control" [(ngModel)]=training.trainingCourse
                  placeholder="Enter Course Name" required pattern="([A-zÀ-ž\s]){2,}" #cName=ngModel>
                <span *ngIf='!cName.valid && cName.touched'>
                  <p class="errorText">Enter Course name.</p>
                </span>
              </div>

              <div class="form-group">
                <textarea name="description" rows="5" cols="80" placeholder="Enter Description of Training Program"
                  class="form-control" [(ngModel)]=training.description required pattern="([A-zÀ-ž\s]){2,}"
                  #des=ngModel></textarea>
                <span *ngIf='!des.valid && des.touched'>
                  <p class="errorText">Enter Description.</p>
                </span>
              </div>

              <div class="form-group">
                <input name="traininCost" type="number" class="form-control" [(ngModel)]=training.trainingCost
                  placeholder="Enter Cost"  #cost=ngModel>
                <span *ngIf='!cost.valid && cost.touched'>
                  <p class="errorText">Enter valid Cost Of Training Program.</p>
                </span>
              </div>

              <div class="form-group">
                <input name="noOfDays" type="number" class="form-control" [(ngModel)]=training.noOfDays
                  placeholder="Enter numberof days required for this training"  #nod=ngModel>
                <span *ngIf='!nod.valid && nod.touched'>
                  <p class="errorText">Enter valid Data.</p>
                </span>
              </div>

            </div>
            <div class="card-footer">

              <button class="btn btn-primary" type="submit" [disabled]="!addTrainingForm.valid"><i
                  class="fa fa-plus"></i>Add Training</button>

            </div>
          </form>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>